{% extends 'cadastro_base.html' %}
{% block content %}

<a href="{% url 'bussola:logout' %}">Logout</a>

<form action="{% url 'bussola:cadastro' %}" name="cadastro" id="contactForm" novalidate>
    {% csrf_token %}
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Nome</label>
            {{ form.nome }}
            {{ form.nome.errors }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>CNPJ ou CPF</label>
            {{ form.cpf_cnpj }}
            {{ form.cpf_cnpj.errors }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label >Senha</label>
            {{ form.senha }}
            {{ form.senha.errors }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Foto</label>
            {{ form.foto }}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}
