<!DOCTYPE HTML>

{%load staticfiles%}

<html>
	<head>
		<title>Bússola</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href=" {% static 'assets/css/main.css' %}">

		<script languague="javascript">
			function login(){
				window.open('login.html','popup','width=500,height=500,top=100,left=400')
			}
		</script>

		<script languague="javascript">
			function cadastro(){
				window.open('cadastro.html','popup','width=500,height=500,top=100,left=400')
			}
		</script>

		<script languague="javascript">
			function sobre_nos(){
				window.open('sobre_nos.html','popup','width=400,height=400,top=160,left=470')
			}
		</script>
		
		<script languague="javascript">
			function fale_conosco(){
				window.open('fale_conosco.html','popup','width=400,height=400,top=160,left=470')
			}
		</script>

	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="{% static 'images/logo.png' %}" alt="" /></span><span class="title">Bússola</span>
								</a>

								<h1><a href="index.html">Home</a> > <a href="sub_categoria.html"> Alimentação > </a><a href="lugares.html"> Lanchonetes </a> > </a><a href="estabelecimento.html"> Estabelecimento</a></h1>
														
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#popup" onclick="login()">Login</a></li>
							<li><a href="#popup" onclick="cadastro()">Cadastre-se</a></li>
							<li><a href="#popup" onclick="sobre_nos()">Sobre nós</a></li>
							<li><a href="#popup" onclick="fale_conosco()">Fale Conosco</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
						<div class="row">
							<div class="col-sm-6">
							<h1>Minuano</h1> <ul class="actions"><input type="submit" value="Seguir" class="special" /></ul>
								Av. Augusto Emílio Estelita Lins, 465 - Jardim Camburi, Vitória, 29090-720 - ES<br>
								3376-4667<br>
								AVALIAÇÃO<br>
								Hambúrgueres, sanduíches de filé e carnes na chapa, mais sucos e açaís, <br>em lanchonete com serviço de delivery.<br>
							</div>
							<div class="col-sm-6" style="margin-top: 6%; margin-left: 10%;">
								<iframe width="400" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3743.1865156697427!2d-40.26966768552937!3d-20.25109798642472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb8190005953b3f%3A0x49f4f3d2ff3e5b7d!2sAv.+Augusto+Em%C3%ADlio+Estelita+Lins%2C+465+-+Jardim+Camburi%2C+Vit%C3%B3ria+-+ES!5e0!3m2!1spt-BR!2sbr!4v1494084068969" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="lugares.html">
										<h2></h2>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2></h2>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2></h2>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Bares</h2>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Padarias</h2>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="generic.html">
										<h2>Sorveterias</h2>
									</a>
								</article>
							</section>
							NOVIDADES
							<hr>
						</div>
					</div>
			</div>

		<!-- Rodapé -->
			<div class="row" style="padding-left:63%;">
				<ul>
					&copy; Untitled. All rights reserved Design: <a href="http://html5up.net">HTML5 UP</a> 
				</ul>
			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>